# --------------------------------------------------------
# It would be better to add dc1-dcx in front of fqdn
# like:
#      "dc1.SAMDOM.EXAMPLE.COM"
# --------------------------------------------------------

#local host_name="$(hostname)"
local host_name="dc1.$(hostname)"
