# ------------------------------------------------
# Samba AD config
# ------------------------------------------------
local samba_server_role="dc"
local samba_dns_backend="SAMBA_INTERNAL"

#Assume hostname here is dc1.SAMDOM.EXAMPLE.COM
#local samba_realm="SAMDOM.EXAMPLE.COM"
#local samba_domain="SAMDOM"

local samba_realm="$(hostname | cut -d'.' -f2-)"
local samba_domain="$(hostname | cut -d'.' -f2- | cut -d'.' -f1)"


local samba_admin_password="Passw0rd"
